@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Barlow+Semi+Condensed:wght@600&family=Bree+Serif&family=Calistoga&family=Fredoka+One&family=Poppins:wght@300&family=Secular+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#navlinks {
    animation : translate .5s linear;
}

@keyframes translate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}